.movie-card {
    width: 22em;
    height: 28em;
    border: 2px solid black;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1.25em;
    background-color: aliceblue;
}

.movie-poster {
    width: 12.5em;
    height: 15.5em;
}

.movie-title {
    font-size: x-large;
}

.rating {
    font-size: large;
}

@media screen and (max-width: 70em) {
    .movie-card {
        width: 8em;
        height: 14em;
        border: 2px solid black;
        border-radius: .5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 1.25em;
        background-color: aliceblue;
    }
    
    .movie-poster {
        width: 6.25em;
        height: 7.75em;
    }
    
    .movie-title {
        font-size: small;
    }
    
    .rating {
        font-size: x-small;
    }
}