.movie-detail-card {
    border: 2px solid black;
    width: 100%;
    height: 100%;
    background-color: #848c8e;
    color: black;
    font-weight: bold;
    margin: 0;
}

.movie-poster {
    width: 200px;
    height: 250px;
    border: 2px solid black
}

.movie-title {
    font-size: x-large;
}

.rating {
    font-size: large;
}
